
input{
    min-width: 35vw;
}

input{
    padding: 5px 10px;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 10px;
    font-size: 1.2em;
    margin: 15px;
    transition: 0.1s ease;
    color: rgb(109, 109, 109);
}

input:focus{
    border: 2px solid rgb(10, 10, 10);
    color: rgb(10, 10, 10);
}
