#new-task{
    border: 2px solid gray;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;
}

#new-task form{
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    margin: 10px 0;
}

#new-task form input{
    border: 2px solid lightblue;
    border-radius: 10px;
    font-size: 1em;
    padding: 0 10px;
}

#new-task form input:focus{
    outline: 0;
    border: 2px solid rgb(0, 147, 196);
}

#new-task form button, button{
    padding: 5px 10px;
    border: 2px solid rgb(0, 147, 196);
    background-color: white;
    color: rgb(0, 147, 196);
    border-radius: 10px;
    transition: 0.2s ease;
    margin-top: 15px;
}

#new-task form button:hover, button{
    background-color: rgb(0, 147, 196);
    color: white;
    cursor: pointer;
}

.none-task{
    margin: 150px;
    color: rgba(128, 128, 128, 0.74);
    font-size: 1.5rem;
}