@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: poppins;
}

body {
    background-color: blue;
}

/*Layout*/

.conteudo {
    width: 80%;
    margin: 10px auto;
    background-color: aliceblue;
    border-radius: 10px;
    z-index: 900;
}

.cabecalho {
    background: blue;
    margin: 0px 25px;
    position: relative;
    top: 25px;
    height: 80px;
    border-radius: 15px;
}

.cabecalho ul {
    display: flex;
    justify-content: end;
    list-style-type: none;

    position: absolute;
    right: 20px;
    bottom: 12px;    
}

.cabecalho li {
    display: inline-block;
    width: 200px;
    margin: 0px 5px;
}

.cabecalho a {
    background-color: aliceblue;
    display: block;
    text-align: center;
    color: blue;
    text-decoration: none;
    border-radius: 10px;
}

.cabecalho a:hover{
    background: rgb(0, 157, 255);
    color: rgb(255, 255, 255);
}

h1#primeiro {
    margin: 40px 30px 10px 30px;
}

.chat{
    position: fixed;
    bottom: 20px;
    left: 10px;
    background-color:  rgb(0, 190, 0);
    z-index: 999;
    border-radius: 20px;
}

.chat img {
    float: left;
    margin: 10px 10px;
    width: 35px;
}


.chat a {
    background-color: white;
    color: rgb(86, 171, 0);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    top: 17px;
    right: 5px;
    margin: 0 5px 0 0;
}

.chat a:hover{
    background: rgb(0, 255, 68);
    color: white;
}


/*Propriedades Gerais */
img {
    margin: 20px;
    width: 200px;
}

h1, p {
    margin: 15px 35px;
}

